.card-img-overlay {
    position: relative;
  }
  
  .heart-btn-pp {
    position: absolute;
    top: 15px;
    right: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
  }
  
  .small-icon-pp {
    position: absolute;
    top: 15px;
    left: 19px;
    width: 36px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  
  .small-icon-pp:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .card {
    border: none;
    font-family: "Zawya Pro";
    position: relative;
  }
  h2 {
    text-align: center;
    font-family: "Zawya Pro";
  }
  .image-container {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 31%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .add-to-bag-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
  }
  
  .card-img-top-pp {
    width: 350px;
    height: 380px;
    margin-left: 10px;
  
  }
  
  