.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wlc-register {
  width: 253px;
  font-family: "URW Geometric";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: black;
}

.register-title h4 {
  width: 191px;
  font-family: "URW Geometric";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  color: #aaaaaa;
}

.register-title {
  display: flex;
  flex-direction: column;
  margin-right: 322px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form label {
  font-family: "URW Geometric";
}

.register-form input {
  height: 58px;
  width: 580px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  padding: 0 15px 0 15px;
}

.register-control {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.register-button {
  margin-top: 10px;
  height: 58px;
  border: none;
  background: #000000;
  border-radius: 3px;
  font-family: "URW Geometric";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.already-register {
  display: flex;
  justify-content: center;
}

.already-register p {
  font-family: "URW Geometric";
  color: #aaaaaa;
}

.login-link {
  color: black;
  font-family: "URW Geometric";
  text-decoration: none;
  line-height: 28px;
  font-size: 17px;
}

.login-link:hover {
  text-decoration: none;
}

.password-input {
  position: relative;
}

.eye-icon {
  width: 35px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}

.password-input input:focus {
  outline: none;
  border: solid 2px black;
}

.reg-mail:focus {
  outline: none;
  border: solid 2px black;
}

.reg-name:focus {
  outline: none;
  border: solid 2px black;
}
