.league-p1 {
  padding: 0px 140px;
  padding-bottom: 40px;
}

#league .le-box {
  width: 200px;
  text-align: center;
  padding: 0px 5px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0);
  border-radius: 4px;
  margin: 5px 0;
}

#league .le-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0);
}

#league .le-box img {
  width: 40px;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

#league .le-box img:hover {
  opacity: 1;
  filter: none;
}

#league {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
