.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 0 30px;
  width: 100vw;
}

.title {
  font-family: "Zawya Pro";
  font-weight: 900;
  font-size: 36px;
  color: #343333;
  cursor: pointer;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 30px;
}

.menu a {
  font-family: "Sofia Pro";
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #343333;
  text-decoration: none;
}

.actions {
  display: flex;
  align-items: center;
}

.search,
.bag,
.heart {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  text-align: center;
}

.search i,
.bag i,
.heart i {
  font-size: 20px;
  color: #343333;
}

.signin a {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #000000;
}

.title-link:hover {
  text-decoration: none;
}

i:hover {
  cursor: pointer;
}

.search-input {
  width: 100vw;
  height: 45px;
  border: none;
}

.search-input:focus {
  outline: none;
}

.counter {
  position: absolute;
  top: 22px;
  right: 147px;
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
